<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
		</head>
		<body>
			<h1>conn:podcast</h1>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/connfriends">conn:friends</a></li>
	        		<li><a href="/conntech">conn:tech</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>Contact us by <a href="mailto:connfriendspod@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
