<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/nav.css">
			<link rel="shortcut icon" type="image/jpg" href="/assets/img/logo/favicon.png"/>
		</head>
		<body>
			{% include nav.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				{% include footer.html %}
			</footer>
		</body>
	</html>
